@import '../../../../../scss/variables';

:host {
    height: calc(100% - 24px); // for the statusbar
    display: block;

    .monaco-container {
        padding-top: 12px;
        height: 100%;
        background-color: $code-bg-color;

        .monaco-editor {
            height: 100%;

            /deep/ {
                .monaco-editor.vs-dark, .monaco-editor-background {
                    background-color: $code-bg-color;
                }
            }
        }
    }
}
