@import '../../../../../scss/variables';

:host {
    height: calc(100% - 24px); // for the statusbar
    display: block;

    .monaco-container {
        padding-top: 12px;
        height: 100%;

        .monaco-editor {
            height: 100%;
        }
    }
}
