@import '../../../scss/variables';
@import '../../../scss/mixins';

:host {
    background: url('assets/images/landing-bg.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    display: block;
    height: 100%;

    #landing-page {
        color: white !important;

        .container {
            width: 485px;
        }
    }

    #logo {
        margin-bottom: 20px;

        img {
            width: 114px;
            height: 84px;
        }
    }

    #app-name {
        font-family: $thin-font;
        font-size: 28px;
        margin-bottom: -24px;
        text-transform: uppercase;
    }

    #navbar {
        margin-top: 100px;
        padding-left: 0;

        > li {
            display: inline-block;
            padding: 0 35px;

            > a {
                @include button-variant($panel-bg-color, #00ffff, transparent);
                padding: 2px 40px;
            }
        }

        margin-bottom: 40px;
    }

    #about {
        p {
            color: #e0e0e0;
        }
    }

    #get-started {
        $bg: #ff545c;

        margin-top: 30px;
        padding: 12px 36px;
        background-color: $bg;
        color: $panel-bg-color;
        text-shadow: none;

        &:hover {
            background-color: lighten($bg, 5%);
        }
    }
}

@media(max-width: 480px) {
    :host {
        .container {
            width: initial !important;
            position: initial !important;
            transform: none;
            padding: 20px;
        }

        #app-name {
            margin-bottom: initial;
            font-size: 18px;
        }

        #hello {
            font-size: 80px;
        }
    }
}
