<div class="title">
    Files
</div>

<ul *ngIf="fileService.count() > 0">
    <li *ngFor="let filename of fileService.ls()">
        <a href="#" class="filename" (click)="onFilenameClicked(filename)">
            {{ filename }}
            <div class="size">
                {{ computeFileSize(filename) }} bytes
            </div>
        </a>

        <a href="#" class="delete" (click)="onDeleteFileClicked(filename)">
            <fa [name]="'trash'"></fa>
        </a>
    </li>
</ul>

<p *ngIf="fileService.count() === 0" class="empty">
    You have no saved files, on this browser.
</p>
