<div id="landing-page" class="absolutely-centered">
    <div class="container">
        <div id="logo">
            <img src="assets/images/logo-home.png"
                 alt="JS IDE for Zephyr OS" />
        </div>

        <div id="app-name">JS <strong>IDE</strong> for Zephyr OS</div>

        <ul id="navbar">
            <li>
                <a [routerLink]="['/about']" class="btn btn-mini">
                    About
                </a>
            </li>
            <li>
                <a [routerLink]="['/editor']" class="btn btn-mini">
                    Editor
                </a>
            </li>
        </ul>

        <div id="about">
            <p>
                Welcome to JS <strong>IDE</strong> for Zephyr OS, a creative computing tool for
                makers to build their projects, apps, and more.
            </p>
            <p>
                This editor is web plug-and-play ready, with integrating USB APIs
                that let you use your board instantaneously, and start coding as
                soon as you plug it in.
            </p>
        </div>

        <a class="btn" id="get-started"
           [routerLink]="['/editor']">
            Let's get started!
        </a>
    </div>
</div>
