<div class="title">
    Device
</div>

<ul *ngIf="fileCount; let fileCount; else loading">
    <li *ngFor="let filename of fileArray">
        <a href="#" class="filename" (click)="onDeviceFilenameClicked(filename.name)">
            {{ filename.name }}
            <div class="size">
                {{filename.size}} bytes
            </div>
        </a>
        <a href="#" class="delete" (click)="onDeleteDeviceFileClicked(filename.name)">
            <fa [name]="'trash'"></fa>
        </a>
    </li>
</ul>

<ng-template #loading>Loading files...</ng-template>
