<div class="title">
    Settings
</div>

<ul>
    <li>
        <span class="label">
            WebUSB backend
        </span>

        <div class="controls">
            <select
                class="form-control"
                [(ngModel)]="selectedWebUsbConnectionBackend"
                (change)="onWebUsbConnectionBackendChanged()">
                <option
                    value="settingsService.WebUsbConnectionBackend.AUTODETECT"
                    [selected]="
                        settingsService.getWebUsbConnectionBackend() === settingsService.WebUsbConnectionBackend.AUTODETECT">
                    Autodetect
                </option>
                <option
                    value="settingsService.WebUsbConnectionBackend.ASHELL_V1"
                    [selected]="
                        settingsService.getWebUsbConnectionBackend() === settingsService.WebUsbConnectionBackend.ASHELL_V1">
                    AShell v1
                </option>
            </select>
        </div>
    <li>
        <span class="label">
            Font size: {{ settingsService.getEditorFontSize() }}
        </span>

        <div class="controls">
            <button (click)="onFontSizeDecreaseClicked()">
                <fa [name]="'font'"></fa><sup>-</sup>
            </button>

            <button (click)="onFontSizeDefaultClicked()">
                <fa [name]="'font'"></fa>
            </button>

            <button (click)="onFontSizeIncreaseClicked()">
                <fa [name]="'font'"></fa><sup>+</sup>
            </button>
        </div>
    </li>

    <li>
        <span class="label">
            Line numbers
        </span>

        <div class="controls">
            <ui-switch
                [checked]="settingsService.getEditorLineNumbers()"
                (click)="onLineNumbersSwitchClicked()"
                size="small"
                color="#03e08a">
            </ui-switch>
        </div>
    </li>

    <li>
        <span class="label">
            Minimap
        </span>

        <div class="controls">
            <ui-switch
                [checked]="settingsService.getEditorMinimap()"
                (click)="onMinimapSwitchClicked()"
                size="small"
                color="#03e08a">
            </ui-switch>
        </div>
    </li>

    <li>
        <span class="label">
             Throttle Device Transmission
        </span>

        <div class="controls">
            <ui-switch
                [checked]="settingsService.getDeviceThrottle()"
                (click)="onDeviceThrottleSwitchClicked()"
                size="small"
                color="#03e08a">
            </ui-switch>
        </div>
    </li>

</ul>
