@import '../../../../../scss/main';

:host {
    height: 100%;

    .console-container {
        position: relative;
        height: calc(100% - 42px);
        overflow: hidden;
        background-color: $code-bg-color;

        .console {
            position: absolute;
            top: 0px;
            left: 12px;
            width: calc(100% - 12px);
            height: 100%;
        }

    }
}
