@import '../../../../../scss/variables';

:host {
    height: 100%;

    .console-container {
        position: relative;
        height: calc(100% - 42px);
        overflow: hidden;
        background-color: $code-bg-color;

        .console {
            position: absolute;
            top: 0px;
            left: 12px;
            width: calc(100% - 12px);
            height: 100%;
        }

    }

    .console-resizing-overlay {
        display: none;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
}
