<footer>
    <div class="fluid-container">
        <span class="app-name">Zephyr.js <strong>IDE</strong></span>
        /
        <span class="app-version">
            <a href="https://github.com/01org/zephyrjs-ide/releases" target="_blank">
                v0.7.1-alpha
            </a>
        </span>
        /
        <span class="app-rev">
            <a href="https://github.com/01org/zephyrjs-ide/commits" target="_blank">
                2a42495
            </a>
        </span>
    </div>
</footer>
