@import "../../../../../scss/variables";

:host {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: $code-bg-color;
    border-bottom: 1px solid $panel-bg-color;

    .nav-tabs  {
        $tab-color: #abacaf;
        $active-tab-color: #ffffff;

        margin-top: 0;
        padding: 8px 0;
        padding-left: 14px;
        border: 0;
        border-right: 1px solid $panel-bg-color;
        height: 40px;
        width: calc(100% - 40px); // for the new tab button

        > li {
            padding: 0;
            padding-left: 16px;
            overflow: hidden;
            max-width: 140px;
            font-size: 12px;

            &.active > a, &.active .close-tab {
                color: $active-tab-color;
            }

            &:last-child  {
                > a {
                    // No border for last tab.
                    border-right: 1px solid transparent;
                }
            }

            > a {
                padding: 0;
                margin: 0;

                border: none;
                border-right: 1px solid $panel-bg-color;
                border-radius: 0;

                background-color: inherit;
                color: $tab-color;

                line-height: 24px;

                overflow: hidden;
                white-space: nowrap;

                &:hover:not(.active) {
                    color: $active-tab-color;
                }

                > .tab-title {
                    display: block;
                    width: calc(100% - 50px); // 50px for the edit/close icons
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                > .tab-title-editor {
                    display: none;

                    background-color: lighten($panel-bg-color, 5%);
                    color: $text-color;
                    border: 0;
                    padding: 0;

                    height: 24px;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }

                    &.has-error {
                        background-color: $error-color;
                    }
                }

                &.editing > .tab-title {
                    display: none;
                }

                &.editing > .tab-title-editor {
                    display: block;
                }

                > .edit-tab, .close-tab {
                    position: absolute;
                    top: 0px;
                    width: 16px;
                    padding: 0;
                    text-align: center;

                    fa {
                        font-family: $thin-font;
                        font-size: 12px;
                        color: $tab-color;
                        text-align: center;

                        &:hover {
                            text-decoration: none;
                            color: $text-color;
                        }
                    }
                }

                .edit-tab {
                    right: 32px;
                    display: none;

                    fa {
                        font-size: 11px;
                    }
                }

                &:hover:not(.editing) .edit-tab {
                    display: block;
                }

                .close-tab {
                    right: 16px;

                    fa:hover {
                        color: #e67171;
                    }
                }

                .connection-indicator {
                    position: absolute;
                    top: 2px;
                    right: 6px;
                    font-size: 18px;
                    color: greenyellow;
                    text-shadow: 0 0 8px yellow;
                }
            }
        }

        @for $i from 1 through 20 {
            li:first-child:nth-last-child(#{$i}),
            li:first-child:nth-last-child(#{$i}) ~ li {
                width: 100% / $i;
            }
        }
    }
}

#new-tab-button {
    position: absolute;
    top: 0;
    right: 0;

    box-shadow: 0;
    border: 0;
    border-radius: 0;
    background: none;

    padding: 14px 14px;
    font-size: 11px;
    line-height: 14px;
    font-weight: normal;

    fa {
        margin-right: 4px;
        font-size: 10px;
        color: $accent-color;
    }
}
