<ul #tabMenu class="nav nav-tabs" role="tablist" id="tab-bar">
    <li
        *ngFor="let tab of tabs" role="presentation"
        [ngClass]="{'nav-item': true, 'active': tab.active}">
        <a
            class="nav-link"
            [class.editing]="tab.editing"
            title="{{tab.title}}"
            href="#tab-{{tab.id}}"
            role="tab"
            data-toggle="tab"
            (click)="onActivateTab(tab)">

            <span class="tab-title">
                {{tab.title}}
            </span>

            <input class="tab-title-editor"
                   [class.has-error]="tab.hasError"
                   type="text"
                   onfocus="this.select()"
                   [(ngModel)]="tab.title"
                   (keydown)="onChangeEditingTab(tab)"
                   (keyup.enter)="onFinishedEditingTab(tab)"
                   (keyup.escape)="onFinishedEditingTab(tab)"
                   (blur)="onFinishedEditingTab(tab)" />

            <a
               href=""
               class="edit-tab"
               (click)="onEditTab(tab)"
               [hidden]="tab.editing">
                <fa [name]="'pencil'"></fa>
            </a>

            <a
               href=""
               class="close-tab"
               (click)="onCloseTab(tab)"
               [hidden]="tab.editing">
                <fa [name]="'close'"></fa>
            </a>

            <div
                *ngIf="tab.port && tab.port.device.opened"
                class="connection-indicator"
                title="Connected">
                &#8226;
            </div>
        </a>
    </li>
</ul>

<button
    id="new-tab-button"
    [disabled]="!mayAddTab()"
    (click)="onNewTab()">
    <fa [name]="'plus'"></fa>
</button>
