@import "../../../scss/main";

:host {
    display: block;
    height: calc(100% - 50px - 60px); // navbar and footer

    .not-supported {
        padding: 40px;
        font-size: 20px;
        color: lighten($panel-bg-color, 66%);
        text-align: center;
    }

    /deep/ ng-sidebar-container.primary {
        height: 100%;

        aside {
            position: absolute;
            height: 100%;
            width: 160px;
            background-color: $panel-bg-color;
            border-right: 8px solid $navbar-bg-color;
            padding: 0;
            color: darken($text-color, 30%);
            z-index: 999; // Remember that modals are 1050

            ul {
                position: absolute;
                width: 100%;
                padding: 0;

                > li {
                    list-style: none;

                    > a {
                        display: block;
                        width: 100%;
                        padding: 10px 20px;
                        color: darken($text-color, 30%);

                        &:hover, &:active, &.active, &:focus {
                            color: darken($text-color, 30%);
                            background-color: lighten($panel-bg-color, 2.5%);
                        }

                        .count {
                            float: right;
                        }

                        &.active fa {
                            color: $accent-color;
                        }

                        fa {
                            width: 20px;
                            display: inline-block;
                        }
                    }
                }
            }


            &.ng-sidebar--closed {
                margin-left: 52px;

                ul {
                    right: 0;
                    width: initial;

                    > li > a {
                        padding: 10px 12px;
                        text-align: centeR;
                    }
                }
            }

            .toggleCollapse {
                position: absolute;
                bottom: 0px;
                right: 10px;
                font-size: 22px;
                font-weight: bold;
                border: none;
                background: none;
            }
        }

        .ng-sidebar__content {
            overflow: hidden;
        }
    }

    /deep/ ng-sidebar-container.secondary {
        height: 100%;
        float: left;

        aside {
            background-color: #f0f0f0;
            color: $code-bg-color;
            padding: 40px 0 20px 0;
            position: absolute;
            width: 320px;
            border-right: none;

            &.ng-sidebar--closed {
                margin-left: initial;
            }

            a {
                color: $code-bg-color !important;
            }

            ul > li {
                border-bottom: 1px solid #ccc;

                &:last-child {
                    border-bottom: 0;
                }

                > a:hover {
                    background-color: #e0e0e0;
                }
            }


            .files {
                a.filename {
                    width: calc(100% - 50px);
                    display: inline-block;

                    .size {
                        color: #999;
                        font-size: 13px;
                    }
                }

                a.delete {
                    width: auto;
                    padding: 19px 15px;
                    display: inline-block;
                    float: right;
                    text-align: center;

                    fa {
                        color: #ccc;
                    }

                    &:hover fa {
                        color: $error-color;
                    }
                }

                .empty {
                    padding: 20px;
                    font-size: 18px;
                    color: #aaa;
                    text-align: centeR;
                }
            }

            .close {
                position: absolute;
                top: 12px;
                right: 12px;
                font-size: 16px;
            }
        }
    }

    .pane {
        height: 100%;
        padding: 0;

        /deep/ .pane-header {
            margin: 0;
            padding: 12px;
            font-family: $bold-font;
            font-size: 15px;
            text-transform: uppercase;
            background-color: $panel-bg-color;
        }
    }

    vertical-split-pane /deep/ {
        .left-component, .right-component {
            height: 100%;
        }

        .split-pane-content-primary, .split-pane-content-secondary {
            height: 100%;
            position: relative;
            background-color: $panel-bg-color;

            .pane-title {
                font-size: 14px;
                line-height: 42px;
                padding-left: 12px;
                text-transform: uppercase;

                .close {
                    float: right;
                    padding: 9px;

                    fa {
                        color: darken($text-color, 10%);
                        text-shadow: none;
                        font-weight: normal;
                    }
                }
            }

            .tab-content {
                height: calc(100% - 40px); // for the tab bar

                .tab-pane {
                    height: 100%;
                }
            }
        }
    }

    #console-pane .pane-title {
        background-color: $code-bg-color;
    }

    .split-pane-content-secondary {
        // Temporarily duplicate this from tab-bar/tab-bar.component.scss, but
        // it will be removed once the tabs disappear from the secondary pane.
        .nav-tabs  {
            $tab-color: #abacaf;
            $active-tab-color: #ffffff;

            margin-top: 0;
            padding: 8px 0;
            padding-left: 36px;
            border: 0;
            background-color: $panel-bg-color;
            height: 40px;
            width: calc(100% - 90px); // for the new tab button

            > li {
                padding: 0;
                padding-left: 16px;
                overflow: hidden;
                max-width: 140px;
                font-size: 12px;

                &.active > a, &.active .close-tab {
                    color: $active-tab-color;
                }

                &:last-child  {
                    > a {
                        // No border for last tab.
                        border-right: 1px solid transparent;
                    }
                }

                > a {
                    padding: 0;
                    margin: 0;

                    border: none;
                    border-right: 1px solid lighten($panel-bg-color, 10%);
                    border-radius: 0;

                    background-color: inherit;
                    color: $tab-color;

                    text-transform: uppercase;
                    line-height: 24px;

                    overflow: hidden;
                    white-space: nowrap;

                    &:hover:not(.active) {
                        color: $active-tab-color;
                    }

                    > .tab-title {
                        width: calc(100% - 24px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    > .edit-tab, .close-tab {
                        position: absolute;
                        top: 0px;
                        width: 16px;
                        padding: 0;

                        fa {
                            font-family: $thin-font;
                            font-size: 10px;
                            color: $tab-color;
                            text-align: center;

                            &:hover {
                                text-decoration: none;
                                color: $text-color;
                            }
                        }
                    }

                    .edit-tab {
                        right: 32px;
                        display: none;
                    }

                    &:hover .edit-tab {
                        display: block;
                    }

                    .close-tab {
                        right: 16px;

                        fa:hover {
                            color: #e67171;
                        }
                    }
                }
            }
        }

        .nav-tabs {
            padding-left: 10px;
            width: auto;

            li {
                width: initial !important;
                max-width: initial;
                padding-left: initial !important;

                a {
                    padding: 0 16px;
                }
            }
        }
    }

    /deep/ vertical-split-separator, /deep/ horizontal-split-separator {
        border: none;
        background-color: $navbar-bg-color;
        z-index: 999; // Remember that modals are 1050

        .handle {
            background-color: darken($accent-color, 10%);
        }

        &:hover {
            background-color: lighten($navbar-bg-color, 10%);
        }
    }

    #editor-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding: 20px;

        background-color: $footer-bg-color;

        .about {
            display: inline-block;

            .app-name {
                font-family: $thin-font;
                text-transform: uppercase;
            }

            a {
                color: $accent-color;
                text-decoration: none;
                font-style: italic;

                &:hover {
                    &:hover, &:focus {
                        color: lighten($accent-color, 5%);
                    }
                }
            }
        }

        .buttons {
            float: right;
            margin-top: -6px;
            text-align: right;
        }
    }

    /deep/ .protect-resizing-overlay {
        display: none;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
}
