<div class="not-supported visible-xs-block visible-sm-block">
    We apologize, but the <%= APP_TITLE_HTML %> project only supports laptops
    and desktop computers, and a screen resolution with width greater than 992
    pixels.
</div>

<ng-sidebar-container class="primary-sidebar hidden-xs hidden-sm">
    <ng-sidebar
        [(opened)]="sidebarOptions.opened"
        [position]="'left'"
        [mode]="'dock'"
        [dockedSize]="'52px'"
        [animate]="false">

        <ul>
            <li>
                <a href="#" class="files"
                   [class.active]="secondarySidebarOptions.content === 'files'"
                   (click)="onFilesClicked()">
                    <fa [name]="'folder'"></fa>
                    <span *ngIf="sidebarOptions.opened">
                        Files
                        <span class="count">({{fileService.count()}})</span>
                    </span>
                </a>
            </li>

            <li>
                <a href="#" class="examples"
                   [class.active]="secondarySidebarOptions.content === 'examples'"
                   (click)="onExamplesClicked()">
                    <fa [name]="'code'"></fa>
                    <span *ngIf="sidebarOptions.opened">
                        Examples
                        <span class="count">({{exampleService.count()}})</span>
                    </span>
                </a>
            </li>
        </ul>

        <button class="toggleCollapse" (click)="onToggleSidebar()">
            <span *ngIf="sidebarOptions.opened">
                <fa [name]="'angle-double-left'"></fa>
            </span>

            <span *ngIf="!sidebarOptions.opened">
                <fa [name]="'angle-double-right'"></fa>
            </span>
        </button>
    </ng-sidebar>

    <!-- secondary sidebar -->
    <ng-sidebar-container class="secondary-sidebar">
        <ng-sidebar
            [(opened)]="secondarySidebarOptions.opened"
            [position]="'left'"
            [mode]="'over'"
            [animate]="false"
            [showBackdrop]="true">

            <button class="close" (click)="onCloseSecondarySidebar()">
                <fa [name]="'close'"></fa>
            </button>

            <sd-sidebar-files
                *ngIf="secondarySidebarOptions.content === 'files'"
                (onFileSelected)="onCloseSecondarySidebar()"
                class="files">
            </sd-sidebar-files>

            <sd-sidebar-examples
                *ngIf="secondarySidebarOptions.content === 'examples'"
                (onFileSelected)="onCloseSecondarySidebar()"
                class="examples">
            </sd-sidebar-examples>
        </ng-sidebar>

        <vertical-split-pane
            primary-component-minsize="400"
            secondary-component-minsize="400"
            local-storage-key="editor-split-pane-code"
            (on-begin-resizing)="onBeginResizing($event)"
            (on-ended-resizing)="onEndedResizing($event)">

            <div id="code-pane" class="split-pane-content-primary">
                <sd-tab-bar></sd-tab-bar>
                <div class="tab-content">
                    <div
                        *ngFor="let tab of tabs"
                        role="tabpanel"
                        [ngClass]="{'tab-pane': true, 'active': tab.active}"
                        id="tab-{{tab.id}}">

                        <sd-monaco
                            [tab]="tab"
                            (onWarning)="onWarning($event)"
                            (onError)="onError($event)">
                        </sd-monaco>

                        <sd-statusbar [tab]="tab"></sd-statusbar>
                    </div> <!-- ./tab-pane -->
                </div> <!-- ./tab-content -->
            </div> <!-- ./split-pane-contenty-primary -->

            <div class="split-pane-content-secondary">

                <horizontal-split-pane
                    primary-component-minsize="42"
                    secondary-component-minsize="42"
                    local-storage-key="editor-split-pane-viewer"
                    [secondary-component-toggled-off]="consoleToggledOff"
                    (on-begin-resizing)="onBeginResizing($event)"
                    (on-ended-resizing)="onEndedResizing($event)">

                    <div id="board-viewer-pane" class="split-pane-content-primary">
                        <div class="pane-title">Board explorer</div>
                        <sd-board-explorer></sd-board-explorer>
                    </div>

                    <div id="console-pane" class="split-pane-content-secondary">
                        <div class="pane-title">
                            Console
                            <a  href="#"
                                class="close"
                                (click)="onCloseConsole()">
                                <fa [name]="'close'"></fa>
                            </a>
                        </div>
                        <sd-console
                            *ngFor="let tab of tabs"
                            [tab]="tab"
                            [hidden]="!tab.active">
                        </sd-console>
                    </div>
                </horizontal-split-pane>
            </div> <!-- ./split-pane-content-secondary -->
        </vertical-split-pane>
    </ng-sidebar-container>
</ng-sidebar-container>

<div id="editor-footer">
    <div class="fluid-container">
        <div class="about">
            <span class="app-version">
                <a href="https://github.com/01org/zephyrjs-ide/releases" target="_blank">
                    v<%= VERSION %>
                </a>
            </span>
            <span class="separator">/</span>
            <span class="app-rev">
                <a href="https://github.com/01org/zephyrjs-ide/commits" target="_blank">
                    <%= GIT_REV %>
                </a>
            </span>
        </div> <!-- ./about -->

        <div class="buttons hidden-xs hidden-sm">
            <button
                #toggleConsoleButton
                class="btn btn-primary toggle-console"
                [class.active]="!consoleToggledOff"
                (click)="onToggleConsole()">
                Console
            </button>
        </div>
    </div>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>
