<div class="not-supported visible-xs-block visible-sm-block">
    We apologize, but the <%= APP_TITLE_HTML %> project only supports laptops
    and desktop computers, and a screen resolution with width greater than 992
    pixels.
</div>

<ng-sidebar-container [animate]="false" class="primary-sidebar hidden-xs hidden-sm">
    <ng-sidebar
        [(opened)]="sidebarOptions.opened"
        [position]="'left'"
        [mode]="'dock'"
        [dockedSize]="'52px'"
        [animate]="false">

        <ul>
            <li>
                <a href="#" class="files"
                   [class.active]="secondarySidebarOptions.content === 'files'"
                   (click)="onFilesClicked()">
                    <fa [name]="'folder'"></fa>
                    <span *ngIf="sidebarOptions.opened">
                        Files
                        <span class="count">({{ fileService.count() }})</span>
                    </span>
                </a>
            </li>

            <li>
                <a href="#" class="examples"
                   [class.active]="secondarySidebarOptions.content === 'examples'"
                   (click)="onExamplesClicked()">
                    <fa [name]="'code'"></fa>
                    <span *ngIf="sidebarOptions.opened">
                        Examples
                        <span class="count">({{ exampleService.count() }})</span>
                    </span>
                </a>
            </li>

            <li>
                <a href="#" class="github"
                   [class.active]="secondarySidebarOptions.content === 'github'"
                   (click)="onGitHubClicked()">
                    <fa [name]="'github'"></fa>
                    <span *ngIf="sidebarOptions.opened">
                        GitHub
                    </span>
                </a>
            </li>

            <li>
                <a href="#" class="settings"
                   [class.active]="secondarySidebarOptions.content === 'settings'"
                   (click)="onSettingsClicked()">
                    <fa [name]="'cog'"></fa>
                    <span *ngIf="sidebarOptions.opened">
                        Settings
                    </span>
                </a>
            </li>
        </ul>

        <button class="toggleCollapse" (click)="onToggleSidebar()">
            <span *ngIf="sidebarOptions.opened">
                <fa [name]="'angle-double-left'"></fa>
            </span>

            <span *ngIf="!sidebarOptions.opened">
                <fa [name]="'angle-double-right'"></fa>
            </span>
        </button>
    </ng-sidebar>

    <!-- secondary sidebar -->
    <ng-sidebar-container [animate]="false" class="secondary-sidebar">
        <ng-sidebar
            [(opened)]="secondarySidebarOptions.opened"
            [position]="'left'"
            [mode]="'over'"
            [animate]="false"
            [showBackdrop]="true"
            [closeOnClickBackdrop]="true">

            <button class="close" (click)="onCloseSecondarySidebar()">
                <fa [name]="'close'"></fa>
            </button>

            <sd-sidebar-files
                *ngIf="secondarySidebarOptions.content === 'files'"
                (onFileSelected)="onFileSelected($event)"
                class="files">
            </sd-sidebar-files>

            <sd-sidebar-examples
                *ngIf="secondarySidebarOptions.content === 'examples'"
                (onFileSelected)="onExampleSelected($event)"
                class="examples">
            </sd-sidebar-examples>

            <sd-sidebar-github
                *ngIf="secondarySidebarOptions.content === 'github'"
                (onFileSelected)="onGitHubFileSelected($event)"
                class="github">
            </sd-sidebar-github>

            <sd-sidebar-settings
                *ngIf="secondarySidebarOptions.content === 'settings'"
                class="settings">
            </sd-sidebar-settings>
        </ng-sidebar>

        <vertical-split-pane
            primary-component-minsize="400"
            secondary-component-minsize="400"
            separator-thickness="3"
            local-storage-key="editor-split-pane-code"
            (on-begin-resizing)="onBeginResizing($event)"
            (on-ended-resizing)="onEndedResizing($event)">

            <div id="code-pane" class="split-pane-content-primary">
                <sd-device-toolbar
                    (onWarning)="onWarning($event)"
                    (onError)="onError($event)"
                    (onSuccess)="onSuccess($event)">
                </sd-device-toolbar>

                <sd-tab-bar></sd-tab-bar>

                <div class="tab-content">
                    <div
                        *ngFor="let tab of tabs"
                        role="tabpanel"
                        [ngClass]="{'tab-pane': true, 'active': tab.active}"
                        id="tab-{{ tab.id }}">

                        <sd-monaco
                            [tab]="tab"
                            (onWarning)="onWarning($event)"
                            (onError)="onError($event)"
                            (onSuccess)="onSuccess($event)">
                        </sd-monaco>

                        <sd-statusbar [tab]="tab"></sd-statusbar>
                    </div> <!-- ./tab-pane -->
                </div> <!-- ./tab-content -->
            </div> <!-- ./split-pane-contenty-primary -->

            <div class="split-pane-content-secondary">

                <horizontal-split-pane
                    primary-component-minsize="42"
                    secondary-component-minsize="42"
                    separator-thickness="3"
                    local-storage-key="editor-split-pane-viewer"
                    [secondary-component-toggled-off]="consoleToggledOff"
                    (on-begin-resizing)="onBeginResizing($event)"
                    (on-ended-resizing)="onEndedResizing($event)">

                    <div id="board-viewer-pane" class="split-pane-content-primary">
                        <div class="pane-header">
                            <div class="pane-title">Board explorer</div>
                            <div class="pane-menu dropdown">
                                <button
                                    id="board-selection-dropdown"
                                    class="btn btn-link dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown"
                                    aria-haspopuup="true"
                                    aria-expanded="true">
                                    Select board
                                    <span class="caret"></span>
                                </button>
                                <ul
                                    class="dropdown-menu dropdown-menu-right"
                                    aria-labelledby="board-selection-dropdown">
                                    <li *ngFor="let board of boardExplorerService.listBoards()">
                                        <a href="#" (click)="onSelectBoard(board)">
                                            {{ boardExplorerService.getBoardTitle(board) | async }}
                                        </a>
                                    </li>
                                </ul>
                                <a
                                    href="#"
                                    class="btn btn-link"
                                    data-toggle="modal"
                                    data-target="#boardInfoModal"
                                    (click)="onBoardInfoClicked(currentBoard)">
                                    <fa [name]="'info-circle'"></fa>
                                </a>
                            </div> <!-- ./dropdown -->
                        </div> <!-- ./pane-header -->
                        <sd-board-explorer [board]="currentBoard"></sd-board-explorer>
                    </div>

                    <div id="console-pane" class="split-pane-content-secondary">
                        <div class="pane-header">
                            <div class="pane-title">
                                Console
                                <a  href="#"
                                    class="close"
                                    (click)="onCloseConsole()">
                                    <fa [name]="'close'"></fa>
                                </a>
                            </div>
                        </div> <!-- ./pane-header -->
                        <sd-console></sd-console>
                    </div>
                </horizontal-split-pane>
            </div> <!-- ./split-pane-content-secondary -->
        </vertical-split-pane>
    </ng-sidebar-container>
</ng-sidebar-container>

<div id="editor-footer">
    <div class="fluid-container">
        <div class="about">
            <span class="app-version">
                <a href="https://github.com/intel/zephyrjs-ide/releases" target="_blank">
                    v<%= VERSION %>
                </a>
            </span>
            <span class="separator">/</span>
            <span class="app-rev">
                <a href="https://github.com/intel/zephyrjs-ide/commits" target="_blank">
                    <%= GIT_REV %>
                </a>
            </span>
        </div> <!-- ./about -->

        <div class="buttons hidden-xs hidden-sm">
            <button
                #toggleConsoleButton
                class="btn btn-primary toggle-console"
                [class.active]="!consoleToggledOff"
                (click)="onToggleConsole()">
                Console
            </button>
        </div>
    </div>
</div>

<div #boardInfoModal id="boardInfoModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ boardExplorerService.getBoardTitle(currentBoard) | async }}
                </h4>
            </div>
            <div class="modal-body">
                <div class="docs">
                    <markdown
                        *ngIf="currentBoardDocs !== null"
                        [data]="currentBoardDocs">
                    </markdown>

                    <p *ngIf="currentBoardDocs === null">
                        No documentation available for this board.
                    </p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<simple-notifications [options]="notificationOptions"></simple-notifications>
