@import "../../../scss/main";

:host {
    display: block;
    height: calc(100% - 50px - 60px); // navbar and footer

    .not-supported {
        padding: 40px;
        font-size: 20px;
        color: lighten($panel-bg-color, 66%);
        text-align: center;
    }

    /deep/ ng-sidebar-container.primary-sidebar {
        height: 100%;

        aside {
            position: absolute;
            height: 100%;
            width: 160px;
            background-color: $panel-bg-color;
            border-right: 8px solid $navbar-bg-color;
            padding: 0;
            color: darken($text-color, 30%);
            z-index: 999; // Remember that modals are 1050

            ul {
                position: absolute;
                width: 100%;
                padding: 0;

                > li {
                    list-style: none;

                    > a {
                        display: block;
                        width: 100%;
                        padding: 10px 20px;
                        color: darken($text-color, 30%);

                        &:hover, &:active, &.active, &:focus {
                            color: darken($text-color, 30%);
                            background-color: lighten($panel-bg-color, 2.5%);
                        }

                        .count {
                            float: right;
                        }

                        &.active fa {
                            color: $accent-color;
                        }

                        fa {
                            width: 20px;
                            display: inline-block;
                        }
                    }
                }
            }


            &.ng-sidebar--closed {
                margin-left: 52px;

                ul {
                    right: 0;
                    width: initial;

                    > li > a {
                        padding: 10px 12px;
                        text-align: centeR;
                    }
                }
            }

            .toggleCollapse {
                position: absolute;
                bottom: 0px;
                right: 10px;
                font-size: 22px;
                font-weight: bold;
                border: none;
                background: none;
            }
        }

        .ng-sidebar__content {
            overflow: hidden;
        }
    }

    /deep/ ng-sidebar-container.secondary-sidebar {
        height: 100%;

        aside {
            background-color: #f0f0f0;
            color: $code-bg-color;
            padding: 40px 0 20px 0;
            position: absolute;
            width: 320px;
            border-right: none;

            &.ng-sidebar--closed {
                margin-left: initial;
            }

            a {
                color: $code-bg-color !important;
            }

            ul > li {
                border-bottom: 1px solid #ccc;

                &:last-child {
                    border-bottom: 0;
                }

                > a:hover {
                    background-color: #e0e0e0;
                }
            }


            .files {
                a.filename {
                    width: calc(100% - 50px);
                    display: inline-block;

                    .size {
                        color: #999;
                        font-size: 13px;
                    }
                }

                a.delete {
                    width: auto;
                    padding: 19px 15px;
                    display: inline-block;
                    float: right;
                    text-align: center;

                    fa {
                        color: #ccc;
                    }

                    &:hover fa {
                        color: $error-color;
                    }
                }

                .empty {
                    padding: 20px;
                    font-size: 18px;
                    color: #aaa;
                    text-align: centeR;
                }
            }

            .close {
                position: absolute;
                top: 12px;
                right: 12px;
                font-size: 16px;
            }
        }

        .ng-sidebar__backdrop {
            top: 50px;
            height: calc(100% - 50px - 60px); // header and footer
            left: 480px;
            width: calc(100% - 480px);
        }
    }

    .pane {
        height: 100%;
        padding: 0;

        /deep/ .pane-header {
            margin: 0;
            padding: 12px;
            font-family: $bold-font;
            font-size: 15px;
            text-transform: uppercase;
            background-color: $panel-bg-color;
        }
    }

    vertical-split-pane /deep/ {
        .left-component, .right-component {
            height: 100%;
        }

        .split-pane-content-primary, .split-pane-content-secondary {
            height: 100%;
            position: relative;
            background-color: $panel-bg-color;

            .pane-title {
                font-size: 14px;
                line-height: 42px;
                padding-left: 12px;
                text-transform: uppercase;

                .close {
                    float: right;
                    padding: 14px 15.5px;

                    fa {
                        color: darken($text-color, 10%);
                        text-shadow: none;
                        font-size: 13px;
                        display: table-cell;
                    }
                }
            }

            .tab-content {
                height: calc(100% - 40px); // for the tab bar

                .tab-pane {
                    height: 100%;
                }
            }
        }
    }

    #console-pane .pane-title {
        background-color: $code-bg-color;
    }

    /deep/ vertical-split-separator, /deep/ horizontal-split-separator {
        border: none;
        background-color: $navbar-bg-color;
        z-index: 999; // Remember that modals are 1050

        .handle {
            background-color: darken($accent-color, 10%);
        }

        &:hover {
            background-color: lighten($navbar-bg-color, 10%);
        }
    }

    #editor-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        padding: 20px;

        background-color: $footer-bg-color;

        .about {
            display: inline-block;

            a {
                color: #555;
                text-decoration: none;
                font-style: italic;

                &:hover {
                    &:hover, &:focus {
                        color: #888;
                    }
                }
            }

            .separator {
                color: #444;
                padding: 0 2px;
            }
        }

        .buttons {
            float: right;
            margin-top: -6px;
            text-align: right;
        }
    }

    /deep/ .protect-resizing-overlay {
        display: none;
        position: absolute;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
}
