@import '../../../scss/variables';

:host {
    width: 100%;
    padding: 20px;
    display: block;
    color: darken($text-color, 20%);
    background-color: $footer-bg-color;
    font-size: 11px;

    [class^="col-"] {
        padding: 0 40px;

        h3 {
            font-size: 14px;
            color: $text-color;
        }

        ul { padding-left: 0; }
        li { list-style: none; }
    }
}

@media(max-width: 480px) {
    :host {
        position: initial;
    }
}
